 body
{
background: #4f4f4f;
margin: 50px;
font-family: Arial;
color: #bfbfbd;
text-align: justify;
}
span
{
color: #258dc4;
font-size: 20px;
font-weight: bold;
}
img
{
width:300px;
float:right;
margin:10px;
}
h1
{
color: white;
}
p
{
text-indent: 8%
}


<p class=”istotne”>brzechwa</p>
<ul class=”istotne”>Tutaj są punkty wykazu
<li>punkt 1</li>
<li>punkt 2</li>
<li>punkt 3</li>
</ul>
